h1>Sample App</h1>


<p>
Welcome to the Sample App! Click on the link below to activate your account:
</p>
                                                   
<%# <%= "http://localhost:3000/auth/verify?token=#{@user.getToken}"%>
<%= "http://thuyhh-socify.herokuapp.com/auth/verify?token=#{@user.getToken}"%>  
