<div class="create-post">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="form-group">
        <img src="http://placehold.it/300x300" alt="" class="profile-photo-md" />
        <textarea name="texts" id="exampleTextarea" cols="50" rows="1" class="form-control" placeholder="Bạn đang nghĩ gì ?"></textarea>
      </div>
    </div>
    <div class="col-md-12 col-sm-12">
      <div class="tools">
        <ul class="publishing-tools list-inline">
          <li><a href="#"><i class="icon images"></i></a></li>
          <li><a href="#"><i class="icon video"></i></a></li>
        </ul>
        <button class="btn-primary pull-right btn">Đăng</button>
      </div>
    </div>
  </div>
</div><!-- Post Create Box End-->
