
          <!-- Post Content status
          ================================================= -->
          <div class="post-content">
            <div class="post-container">
              <img src="http://placehold.it/300x300" alt="user" class="profile-photo-md pull-left" />
              <div class="post-detail">
                <div class="row">
                  <div class="col-md-10 user-info">
                      <h5><a href="timeline.html" class="profile-link">Alexis Clark</a> <span class="following">following</span></h5>
                      <p class="text-muted">Published a photo about 3 mins ago</p>
                  </div>
                  <div class="col-md-2 reaction">
                    <div class="dropdown" style="float:right;">
                      <a class="dropbtn">...</a>
                      <div class="dropdown-content">
                      <a href="#">Sửa</a>
                      <a href="#">Xóa</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="post-text">
                <p>toan lor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
              </div>
            </div>
            <div class="line-divider" ></div>
            <div class="row">
              <div class="col-md-2 reaction">
                  <a href="#" class="btn text-like">3 <i class="icon heart"></i>Like</a>
              </div>
              <div class="col-md-6">
              </div>
              <div class="col-md-2 reaction">
                  <a href="#" class="btn text-black">13 <i class="icon comment"></i>Comment</a>
              </div>
            </div>
            <div class="line-divider" style="margin-top: 4px;"></div>
            <!-- danh sach comment -->
            <a href="#" style="padding-left: 8px;" >Load more comment</a>

            <div class="post-container">
              <div class="row comment-box">
                <div class="col-md-1.5 comment-avatar">
                  <img src="http://placehold.it/300x300" alt="user" class="profile-photo-sm pull-left" />
                </div>
                <div class="col-md-10 comment-content">
                  <div class="post-comment">
                    <div class="dropdown" style="float:right;">
                      <a class="dropbtn">...</a>
                      <div class="dropdown-content">
                        <a href="#">Sửa</a>
                        <a href="#">Xóa</a>
                      </div>
                    </div>
                    <a href=""class="profile-link"><h5>John</h5></a><p style= "padding-right: 4px;">comment 1 1223213Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mi <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                  </div>
                </div>
              </div>
              <div class="row comment-box">
                <div class="col-md-1.5 comment-avatar">
                  <img src="http://placehold.it/300x300" alt="user" class="profile-photo-sm pull-left" />
                </div>
                <div class="col-md-10 comment-content">
                  <div class="post-comment">
                    <div class="dropdown" style="float:right;">
                      <a class="dropbtn">...</a>
                      <div class="dropdown-content">
                        <a href="#">Sửa</a>
                        <a href="#">Xóa</a>
                      </div>
                    </div>
                    <a href=""class="profile-link"><h5>John</h5></a><p style= "padding-right: 4px;">comment 1 1223213Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mi <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                  </div>
                </div>
              </div>
              <div class="row comment-box">
                <div class="col-md-1.5 comment-avatar">
                  <img src="http://placehold.it/300x300" alt="user" class="profile-photo-sm pull-left" />
                </div>
                <div class="col-md-10  comment-content">
                  <div class="post-comment">
                    <div class="dropdown" style="float:right;">
                      <a class="dropbtn">...</a>
                      <div class="dropdown-content">
                        <a href="#">Sửa</a>
                        <a href="#">Xóa</a>
                      </div>
                    </div>
                    <a href=""class="profile-link"><h5>John</h5></a><p style= "padding-right: 4px;">comment 1 1223213Lorem ipsum dolor sit a labore et dolore magna aliqua. Ut enim ad mi <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                  </div>
                </div>
              </div>
              <div class="row comment-box">
                <div class="col-md-1.5 comment-avatar">
                  <img src="http://placehold.it/300x300" alt="user" class="profile-photo-sm pull-left" />
                </div>
                <div class="col-md-10 comment-content">
                  <div class="post-comment">
                    <div class="dropdown" style="float:right;">
                      <a class="dropbtn">...</a>
                      <div class="dropdown-content">
                        <a href="#">Sửa</a>
                        <a href="#">Xóa</a>
                      </div>
                    </div>
                    <a href=""class="profile-link"><h5>John</h5></a><p style= "padding-right: 4px;">comment 1dolore magna aliqua. Ut enim ad mi <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                  </div>
                </div>
              </div>

            </div>
          <!-- post comment -->
            <div class="post-container">
              <div class="row">
                <!-- <div class="col-md-1.5"  style="margin-left: 12px;margin-right: 5px"> -->
                  <img src="http://placehold.it/300x300" alt="user" class="profile-photo-sm pull-left" />
                <!-- </div> -->
                <!-- <div class="col-md-10" style="padding-left: 0px;padding-top: 15px;"> -->
              <!-- <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm" /> -->
                  <textarea type="texts" cols="5" rows="1" class="form-control" placeholder="Post a comment" style="line-height: 15px; border-radius: 10px"></textarea>
                  <button type="button" name="button" class="btn btn-primary" style="float: right; margin-top:5px;">Sent</button>
                <!-- </div> -->
              </div>
            </div>
          <!-- end post coomnet -->
          </div>
