<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-3 static">
    <%= render "partials/newsfeed_left" %>
  </div>
  <%= render "images/image" %>
  <%= render "partials/newsfeed_right" %>
</div>