<p id="notice"></p>
  <div class="row">
        <%= render "partials/timeline_left" %>
      <div class="col-md-7">
        <!-- <div class="create-post">
            <%= render "partials/form_post" %>
        </div> -->
        <%= render "posts/post" %>
      </div>
      <div >
        <%= render "partials/newsfeed_right" %>
      </div>
  </div>
