<h1>New Image</h1>

<%= render 'form' %>

<%= link_to 'Back', images_path %>


<script>
    $(document).ready(function(){

        $("#btn-upload").click(function(e){
        e.preventDefault();
        var fd = new FormData();
        var files = $('#image_images_image')[0].files;
        var uploadedImages = [];

        for (let file of files) {
            fd.append('image', file);
            $.ajax({
                url: '/images',
                dataType: 'text',
                type: 'post',
                data: fd,
                contentType: false,
                processData: false,
                success: function(img){
                    uploadedImages.push(img)
                },
            });
        }
        });
    });
</script>